<div id="<%= dom_id place %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= place.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= place.location %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">X:</strong>
    <%= place.x %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Y:</strong>
    <%= place.y %>
  </p>
</div>
