<div id="<%= dom_id place %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Neme:</strong>
    <%= place.neme %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Locatioin:</strong>
    <%= place.locatioin %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">X:</strong>
    <%= place.x %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Y:</strong>
    <%= place.y %>
  </p>
</div>
